body {
    background-image: url('images/background.jpg');
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}


.navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #333;
    overflow: hidden;
}


.navbar img {
    height: 50px;
    float: left; 
    margin-right: 10px;
}


.navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
}


.navbar a:hover {
    background-color: #ddd;
    color: black;
}


.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

img {
    max-width: 100%;
    height: auto;
}

.content .centrar {
    text-align: center;
}


.content .orde {
    display: inline-block;
    margin-right: 10px;
}

.content a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
    border: 1px solid #333; 
    border-radius: 5px; 
    background-color: #fff; 
    transition: background-color 0.3s ease; 
}

.content a:hover {
    background-color: #ddd; 
}

h2 {
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}